.header {
  background: orange;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: large;
}

.menu-nav{
  display: flex;
}

.header a {
  color: white;
  margin: 10px;
}

.header a:hover {
  color: rgb(155, 101, 0);
  margin: 10px;
}

.footer {
  display: flex;
  background: orange;
  align-items: center;
  justify-content: center;
}

.footer p {
  color: white;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
}