body, h1, h2, p, ul, li, a {
  margin: 0px;
  padding: 0px;
}

.body-site {
  background: #FFF5F2;
}

.header {
  background: #87332A;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 5rem;
}

.menu-nav{
  display: flex;
}

.header a {
  color: azure;
  margin: 10px;
}

.header a:hover {
  color: #F3EED9;
  margin: 10px;
}

.footer {
  background: #87332A;
  text-align: center;
}

.footer p {
  color: azure;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
}