body, h1, h2, p, ul, li, a {
  margin: 0px;
  padding: 0px;
  font-family: "Nunito", Helvetica, Arial, sans-serif;
  color: #222222;
}

.body-site {
  background: whitesmoke;
}

.menu-bg {
  background: #87332A;
}

.menu {
  max-width: 960px;
}

.title {
  font-size: 3rem;
  padding-top: 10px;
  margin-bottom: 3px;
}

.menu-nav{
  display: flex;
}

.menu a {
  color: azure;
  margin: 10px;
  padding: 5px;
}

.highlighted-text {
  font-family: 'Fredericka the Great', cursive;
}

.literatura-preta {
  font-family: 'Monoton', cursive;
}

.menu a:hover {
  color: #F3EED9;
  margin: 10px;
}

.footer {
  background: #87332A;
  text-align: center;
  padding: 10px;
}

.footer p {
  color: azure;
}

.card {
  background-color: lightgrey;
  width: 300px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
}